[Unit]
Description=AsterixDB UDF Executor Service
After=network.target pyudf.socket
Requires=pyudf.socket

[Service]
User=asterixdb-udf
Type=simple
ExecStart=/usr/bin/python3 /opt/apache-asterixdb/bin/udf_listener.py
TimeoutStopSec=5
StandardError=journal
StandardError=journal

[Install]
WantedBy=default.target