[Unit]
Description=AsterixDB UDF Domain Socket
PartOf=asterixdb_udf.service

[Socket]
ListenStream=/tmp/pyudf.socket
SocketMode=0660
SocketUser=asterixdb-udf
SocketGroup=asterixdb
Accept=true
DeferAcceptSec=1

[Install]
WantedBy=sockets.target